#Filter{
    display: flex;
    padding: 1em;
    height: 22em;
    margin: 0 0.5em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#Filter span{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
}

#rigth-filter-side{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 300px;
    width: 100%;
}

.left-filter-side{
    display: flex;
    height: 100%;
    flex-direction: column;
    margin-top: 1em;
    justify-content: space-around;
}

#Filter select, .dropbtn{
    height: 40px;
    width: 150px;
    border-radius: 50px;
    background-color: rgb(43, 43, 43);
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    box-shadow: 0 2.5px 7.5px rgb(0 0 0 / 10%);
    margin: 0 15px;
    border: none;
}

@media (min-width: 1000px) {
    #Filter{
        flex-direction: column;
        height: 10em;
        justify-content: space-between;
        padding: 2em 5%;
    }

    .left-filter-side{
        flex-direction: row;
        margin-top: 1em;
    }
    
}

@media (min-width: 1300px){
    #Filter{
        flex-direction: row;
        height: auto;
        justify-content: space-between;
    }

    .left-filter-side{
        flex-direction: row;
        margin: 0;
    }
}